/*
IPF Styles
*/

$highlight: #72950d;
$links: #400b6a;

@mixin buttonBorder($r) {
	-webkit-border-radius: $r;
	-moz-border-radius: $r;
	border-radius: $r;
}
@mixin buttonBackground {
	$color1: #5b1095;
	$color2: #24063c;
	background: -moz-linear-gradient(top, $color1 0%, $color2 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$color1), color-stop(100%,$color2));
	background: -webkit-linear-gradient(top, $color1 0%,$color2 100%);
	background: -o-linear-gradient(top, $color1 0%,$color2 100%);
	background: -ms-linear-gradient(top, $color1 0%,$color2 100%);
	background: linear-gradient(to bottom, $color1 0%,$color2 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$color1', endColorstr='$color2',GradientType=0 );
}

header {
	width: 100%;
	text-align: center;
}

h1 {
	margin: 0.3em 0;
	padding: 0.3em 4%;
	font-size: 0.9em;
	color: #fff;
	background: $highlight;
}
a {
	color: $links;
	text-decoration: none;
}

p {
	margin: 0.2em 4% 0.8em 4%;
}

ul, li { margin: 0; padding: 0 }

ul.navbuttons {
	width: 92%;
	margin: 0 auto 1.5em auto;
	list-style: none;
	li {
		margin: 0.4em 0;
	}
	li a {
		display: block;
		width: 100%;
		text-align: center;
		font-size: 1.2em;
		color: $links;
		background: #e9dbf5;
		background-color: #e9dbf5;
		border: 2px solid #c0afcf;
		/*@include buttonBackground;*/
		@include buttonBorder(1em);
		padding: 0.3em;
	}
}

div.intro {
	margin: 1em 0 2em;
}