/*
IPF Styles
*/
/* line 25, /Users/chad/Data/Projects/Personal/InmanParkFestival/ipf2013-git/css/ipf.scss */
header {
  width: 100%;
  text-align: center; }

/* line 30, /Users/chad/Data/Projects/Personal/InmanParkFestival/ipf2013-git/css/ipf.scss */
h1 {
  margin: 0.3em 0;
  padding: 0.3em 4%;
  font-size: 0.9em;
  color: #fff;
  background: #72950d; }

/* line 37, /Users/chad/Data/Projects/Personal/InmanParkFestival/ipf2013-git/css/ipf.scss */
a {
  color: #400b6a;
  text-decoration: none; }

/* line 42, /Users/chad/Data/Projects/Personal/InmanParkFestival/ipf2013-git/css/ipf.scss */
p {
  margin: 0.2em 4% 0.8em 4%; }

/* line 46, /Users/chad/Data/Projects/Personal/InmanParkFestival/ipf2013-git/css/ipf.scss */
ul, li {
  margin: 0;
  padding: 0; }

/* line 48, /Users/chad/Data/Projects/Personal/InmanParkFestival/ipf2013-git/css/ipf.scss */
ul.navbuttons {
  width: 92%;
  margin: 0 auto 1.5em auto;
  list-style: none; }
  /* line 52, /Users/chad/Data/Projects/Personal/InmanParkFestival/ipf2013-git/css/ipf.scss */
  ul.navbuttons li {
    margin: 0.4em 0; }
  /* line 55, /Users/chad/Data/Projects/Personal/InmanParkFestival/ipf2013-git/css/ipf.scss */
  ul.navbuttons li a {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 1.2em;
    color: #400b6a;
    background: #e9dbf5;
    background-color: #e9dbf5;
    border: 2px solid #c0afcf;
    /*@include buttonBackground;*/
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    border-radius: 1em;
    padding: 0.3em; }

/* line 70, /Users/chad/Data/Projects/Personal/InmanParkFestival/ipf2013-git/css/ipf.scss */
div.intro {
  margin: 1em 0 2em; }
