/*
IPF Styles
*/

$highlight: #72950d;
$links: #400b6a;
$oddRow: #f7fce8;
$buttonBackground: #e9dbf5;

@mixin buttonBorder($r) {
    -webkit-border-radius: $r;
    -moz-border-radius: $r;
    border-radius: $r;
}
@mixin backButtonBorder($r) {
    -webkit-border-top-left-radius: $r;
    -webkit-border-bottom-left-radius: $r;
    -moz-border-radius-topleft: $r;
    -moz-border-radius-bottomleft: $r;
    border-top-left-radius: $r;
    border-bottom-left-radius: $r;
}
@mixin buttonBackground {
    $color1: #5b1095;
    $color2: #24063c;
    background: -moz-linear-gradient(top, $color1 0%, $color2 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$color1), color-stop(100%,$color2));
    background: -webkit-linear-gradient(top, $color1 0%,$color2 100%);
    background: -o-linear-gradient(top, $color1 0%,$color2 100%);
    background: -ms-linear-gradient(top, $color1 0%,$color2 100%);
    background: linear-gradient(to bottom, $color1 0%,$color2 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$color1', endColorstr='$color2',GradientType=0 );
}


header {
    width: 100%;
    text-align: center;
}

h1 {
    margin: 0.4em 0;
    padding: 0.3em 4% 0;
    font-size: 1.6em;
    font-weight: normal;
    text-align: center;
    color: #fff;
    background: $highlight repeat-x;
}
h2 {
    font-size: 1.1em;
    color: $highlight;
    margin: 1em 0 0.5em;
    padding: 0.2em 4%;
}
h2.home {
    background: $oddRow;
    border-top: 1px solid $highlight;
    border-bottom: 1px solid $highlight;
}
h3 {
    margin: 1em 4% 0.2em;
}


a {
    color: $links;
    text-decoration: none;
}

p {
    margin: 0.2em 4% 0.8em 4%;
}
p.intro {
    font-size: 1.2em;
    margin-bottom: 1.3em;
    color: $highlight;
}


ul, li { margin: 0; padding: 0; list-style: none; }

ul.navbuttons {
    width: 92%;
    margin: 0 auto 2em auto;
    list-style: none;
    li {
        margin: 0.4em 0;
    }
    li a {
        display: block;
        width: 100%;
        text-align: center;
        font-size: 1.2em;
        color: $links;
        background: $buttonBackground;
        background-color: $buttonBackground;
        border: 2px solid #c0afcf;
        /*@include buttonBackground;*/
        @include buttonBorder(1em);
        padding: 0.3em;
    }
    li a:hover, li a:active {
        background-color: darken($buttonBackground, 5%);
    }
}
ul.vendor {
    margin-bottom: 1.5em;
    list-style: none;
    width: 100%;
    li {
        margin: 0.3em 0;
        padding: 0.6em 0;
        width: 100%;
        h3 {
            margin-top: 0;
        }
        a, span {
            display: block;
            margin: 0 4%;
        }
    }
    li:nth-child(odd) {
        background: $oddRow;
    }
}


div.intro {
    margin: 1em 0 2em;
}
a.home, a.back {
    display: block;
    margin: 0 4% 0.5em;
    width: 10   em;
    text-align: center;
    color: #fff;
    font-weight: bold;
    background: $links;
    @include buttonBorder(1em);
    padding: 0.3em;
}

body > article {
    margin-top: 2em;
}

ul.stages {
    margin-bottom: 2em;
    
    h3 {
        line-height: 75%;
        margin: 2em 0 0.6em 0;
        padding: 0 0 0 4%;
        border-bottom: 1px solid $highlight;
        color: $highlight;
        font-size: 1.4em;
    }
    ul {
        margin: 0;
        padding: 0.6em 0;
    }
    ul:nth-child(odd) {
        background: $oddRow;
    }
    ul li {
        margin:  0 0 0 4%;
    }
    ul li.band {
        font-weight: bold;
        font-size: 1em;
    }
    ul li.time, ul li.desc {
        font-size: 0.8em;
    }
}
article.tour-homes section h3 {
    margin-top: 0.3em;
}
article.tour-homes section img {
    display: block;
    margin-top: 1.5em;
}
article.tour-homes section ul {
    margin: 0.5em 4% 1.2em 4%;
}




p.footnote {
    font-size: 0.8em;
}